body {
    font-family: Verdana;
    background-color: black;
    color: white;
    padding: 20px;
    line-height: 1.6px
}

/* Os pseudo-elemetos permitem estilizar partes específicas de um elemento, como a primeira letra ou a primeira linha de um parágrafo ou inserir conteúdo antes ou depois de um elemento sem precisar modificar o HTML. */

p {
    font-size: 18px; 
    margin-bottom: 10px;
    padding: 15px;
    background-color: rgb(37, 109, 109);
    border-radius: 5px;

}

/* Estilizando o pseudo-elemento ::before */
/* o codifo pra isso é: elemento::before{ 
    content: "Texto a ser inserido antes do elemento";
    /* outras propriedades de estilo */
 .antes::before {
    content: "Antes do parágrafo - ";
    color: coral;
    font-weight: bold;
    font-size: 24px;
    margin-right: 10px;
}
    





.citacao{
    background-color: rgb(#3a3a3a38);
    border-left: 5px solid rgb(63, 153, 153);
    font-style: italic;
    font-size: 18px;
    padding: 15px 48px;
    margin: 28px 0;
    max-width: 5px;

}

.citacao::before {
    content: "“";
    top: -10px;
    left: 10px;
    font-size: 80px;
    color: rgb(63, 153, 153);
    opacity: 0.3;
    position: absolute;

  
}
.citacao::after {
    content: "”;";
    bottom: -50px;
    right: 50px;
    font-size: 80px;
    color: rgb(63, 153, 153);
    opacity: 0.3;
    position: absolute;

  
} 