body { 
    font-family: Verdana;
    background-color: bisque;
    color: black;
    padding: 20px;
    line-height: 1.6;
}

h2{ 
    color: aqua;
    font-size: 32px;
    margin-bottom: 30px;
    border-bottom: 3px solid rgb(37, 109, 109);

}
h2{ 
    color: rgb(26, 68, 68);
    font-size: 32px;
    margin-bottom: 30px;
   margin-top: 30px
}
.caixa{ 
    width: 530px;
    background-color: rgb(37, 109, 109);
    color: white;
    text-align: center;
    border: 2px solid rgb(63, 153, 153);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.caixa:houver{ 
    background-color: rgb(37, 109, 109);
    color: white;
    transform: scale(0.9);
    box-shadow: 0 8px 16px rgba(140,201,228,0.5);
}

.caixa:houver{ 
    background-color: rgb(37, 109, 109);
    color: white;
    transform: scale(0.9);
    box-shadow: 0 8px 16px rgba(140,201,228,0.5);   }

    .btn-download {
        background-color: rgb(59, 168, 37);
        color: white;
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    .btn-download:hover {
        background-color: rgb(3, 75, 14);
        color: rgb(239, 239, 239);
        transform: scale(0.9);
        box-shadow: 0 8px 16px rgba(140,201,228,0.5);
    }

    /* Active - é ativada quando o botão é clicado */
    .btn-download:active {
        background-color: rgb(37, 109, 109);
        color: white;
        transform: scale(0.9);
        box-shadow: 0 8px 16px rgba(140,201,228,0.5);
    }

    /* focus - é ativada quando o elemento recebe foco, como um campo de formulário ou um link */

    input { 
        max-width: 400px;
        padding: 12x;
        border: 2px solid rgb(37, 109, 109);
        border-radius: 5px;
        background-color: rgb(47, 108, 71);
        color: white;
        font-size: 16px; 
    } 

    input:focus { 
        outline: none;
        border-color: rgb(49, 141, 141);
        box-shadow: 0 0 5px rgb(142, 169, 169);
        background-color: rgb(37, 109, 109);
    }